#main {
	background-image:url(../images/triangular2.png);
	padding: 10px;
}

body {
margin:0;
background-image:url(../images/escheresque_ste.png);
}

/* Navi bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
	border-right: 1px solid #bbb;
	margin-bottom: 0em;
}

li:nth-last-child(1) {
    border-right: none;
	border-left: 1px solid #bbb;
}

li:nth-last-child(2) {
    border-right: none;
	border-left: 1px solid #bbb;
}


ul.topnav li a {
	font-weight: 600;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #800000;
}

ul.topnav li.right {
	float: right;
}

.zaloguj {
    background-color: 	#b30000;
	color: black;
}

.zarejestruj {
    background-color: 	#e60000;
	color: black;
}

@media screen and (max-width: 888px){
    ul.topnav li.right, 
    ul.topnav li {
		float: none;
	}
}

/* Navi bar - dropdown
–––––––––––––––––––––––––––––––––––––––––––––––––– */

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: block;
}

.dropdown-content {
	border: 2px solid #333;
	right: 0px;
	z-index: 5000;
	padding: 8px 17px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: 	#333;
  border-color: #333;}

.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #D2691E;
  border-color: #D2691E; }
  
div.content {
	background-image:url(../images/shattered.png);
	padding: 15px;
	border-radius: 25px;
}

div.row {
	padding:5px;
}

/* Survey list
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.surveyList {
  margin-right: 5%;
  font-size: 26px;
  color: #555;
  border-style: solid;
  border-width: 4px;
}

.surveyList p {
  margin-bottom: 0px;
  width: auto;
  border-width: 0px 0px 4px 0px;
  border-style: solid;
  padding: 0px 0px 0px 10px;
  background-color: rgba(0,0,0,0.15);
}

.surveyList p:hover {
  text-decoration: underline;
}

.surveyList p:last-child {
  border-width: 0px;
}

.surveyListElement a {
  text-decoration: none;
  color: #333;
}

.questionContainingP label{
	display: inline;
}